body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: url('https://t3.ftcdn.net/jpg/05/13/59/72/360_F_513597277_YYqrogAmgRR9ohwTUnOM784zS9eYUcSk.jpg') no-repeat center center fixed;
    background-size: cover;
}

.app {
    color: #ffffff;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
